.marquee {
  background-color: var(--foreground);
  padding: 1em 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  padding: 0 7em;
  text-align: center;
  text-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
}
