.container {
  padding: 2em 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);

  .labels {
    display: flex;
    gap: 4em;

    img {
      width: 100%;
      max-width: 8em;
      user-select: none;
      pointer-events: none;
    }

    @media (max-width: 900px) {
      gap: 1em;

      img {
        max-width: 3.5em;
      }
    }
  }
}
