.title {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 4em;

  &.light {
    color: var(--foreground);
  }

  &.dark {
    color: var(--theme-color-1);
  }

  @media (max-width: 900px) {
    font-size: 3em;
  }
}
