.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: var(--background);
  font-size: 2em;
}

.loader {
  width: 160px;
  height: 140px;
  border: 10px solid #000;
  padding: 0 16px;
  box-sizing: border-box;
  background: linear-gradient(#fff 0 0) 0 0/16px 40px, linear-gradient(#fff 0 0) 100% 0/16px 40px,
    radial-gradient(farthest-side, #fff 90%, #0000) 0 10px/16px 16px content-box, #000;
  background-repeat: no-repeat;
  animation: l3 2s infinite linear;
}

@keyframes l3 {
  25% {
    background-position: 0 0, 100% 100%, 100% calc(100% - 5px);
  }
  50% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 5px);
  }
  75% {
    background-position: 0 100%, 100% 0, 100% 5px;
  }
}
