.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 64em) {
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--background);
  position: relative;
  gap: 1em;
  // display: block;
}

.header {
  gap: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2em;
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
  margin-bottom: 5em;
  margin-top: 5em;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  // display: none;
  color: var(--foreground);
  width: 100%;
}

.tagsRow,
.projectDescription {
  display: none;
}

.shadowGradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}

.studioLogo {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 3em;
  height: auto;
  opacity: 0.5;
}

.projectTitle {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 1.5em;
  width: 100%;
  max-width: 16em;
  padding: 0.5em 1em;
}

.projectDescription {
  opacity: 0.75;
}

.projectVideo {
  width: 100%;
  height: auto;
  aspect-ratio: 16/10;
  display: block;

  outline: none !important;
}

.titleAndLink {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tags {
  display: flex;
  gap: 0.7em;
  flex-wrap: wrap;
}

.tag {
  color: var(--foreground);
  border-radius: 10em;
  background: transparent;
  border: 1px solid var(--foreground);
  padding: 0.2em 0.8em;
  font-size: 0.9em;
  letter-spacing: 0.03em;
}

.filterBar {
  display: flex;
  gap: 0.75em;
  align-items: center;
  flex-wrap: wrap;
}

.filterBar button {
  background: var(--foreground);
  color: var(--background);
  border-radius: 10em;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
}

.titleAndFilters {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.linkOut {
  width: 100%;
  text-align: right;
  background-color: var(--foreground);
  color: var(--background);
  font-size: 1.25em;
  width: 100%;
  max-width: 7em;
  height: 3em;
  padding-left: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  font-family: var(--font-title);
  // color: var(--violet);

  border-top-left-radius: 2em;
}
