@font-face {
  font-family: "Interstate Black Comp";
  src: url("/fonts/Interstate-BlackComp.woff2") format("woff2"),
    url("/fonts/Interstate-BlackComp.woff") format("woff"),
    url("/fonts/Interstate-BlackComp.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --violet: #7f00ff;

  --font-mono: "Space Mono", monospace;
  --font-secondary: "Interstate Black Comp", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
}

a {
  color: inherit;

  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 0.25em;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  text-transform: uppercase;
}

li {
  list-style: none;
  line-height: 2em;
  color: red;
}
