@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;900");

@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --background: #000000;
  --foreground: #ffffff;

  --font-primary: "Poppins", sans-serif;
  --font-mono: "Space Mono", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;

  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 0.25em;
}
