.tagsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

.linkOut {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: #fff;
  color: #222;
  border-radius: 0.2em;
  padding: 0.2em 0.8em;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
  box-shadow: none;
  transition: background 0.2s, color 0.2s;
  height: 2em;
}
.linkOut:hover {
  background: #222;
  color: #fff;
}

.getInTouchSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0 1em 0;
  gap: 1em;
}

.emailButton {
  display: inline-flex;
  align-items: center;
  gap: 0.7em;
  background: none;
  color: #fff;
  border: 1px solid #222;
  border-radius: 4em;
  padding: 0.8em 1.4em;
  font-size: 1.1em;
  font-family: inherit;
  text-decoration: none;
  transition: border-color 0.2s, color 0.2s;
}

.emailButton:hover {
  opacity: 1;
  background-color: #fff;
  color: #000;
}

.emailIcon {
  font-size: 1.2em;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  min-height: 100svh;
  width: 100%;
  max-width: 60em;
  margin: auto;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
  width: 100%;
  max-width: 30em;
}

.downArrow {
  display: inline-block;
  margin-top: 2em;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}
.downArrow:hover {
  color: #aaa;
}

.filterBar {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
  align-items: center;
  flex-wrap: wrap;
}

.filterBar button {
  border: 1px solid #222;
  background-color: transparent;
  color: #fff;
  border-radius: 10em;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
}

.activeFilter {
  background-color: #fff;
  color: #222;
}

.requestForm {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 100%;
  max-width: 24em;
  margin: 0 auto;
  background: none;
  box-shadow: none;
}

.labelsMarqueeSection {
  width: 100vw;
  background: var(--foreground);
  padding: 0;
  margin: 0;
}

.labelCard {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  padding: 0 5em;
  text-align: center;
  text-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.labelTitle {
  width: 100%;
  opacity: 0.75;
  max-width: 12em;
}

.labelImage {
  width: 100%;
  min-width: 5em;
}

.labelsContainer {
  width: 100vw;
  background: var(--foreground);
  color: var(--background);
}

.labelsGrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2em;
  row-gap: 3em;
  width: 100%;
  max-width: 70em;
  padding: 4em 2em;
}

.labelImage {
  width: 100%;
  max-width: 3em;
}
