.emailButton {
  display: flex;
  align-items: center;
  gap: 0.75em;
  background: none;
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.75em 1.5em;
  font-size: 1em;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 4em;

  &:hover {
    border-radius: 0;
  }

  .emailIcon {
    font-size: 1.2em;
  }
}

.navbar {
  height: 5em;
  background-color: var(--foreground);
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  min-height: 100svh;
  width: 100%;
  margin: auto;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
}

.activeFilter {
  background-color: #fff;
  color: #222;
}

.header {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.header,
.socials {
  width: 100%;
  padding: 0 1em;
  max-width: 70em;
}

.headerRight {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 25em;
}

.overlayImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  pointer-events: none;
  background: url("/overlay.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.logoText {
  font-size: 2.4em;
  text-transform: uppercase;
  letter-spacing: 0em;
  color: var(--foreground);
  line-height: 0.5em;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.socials {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.artistsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
}

.artistsList {
  color: var(--foreground);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
