.threejsCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  z-index: -1;
}

.emailButton {
  display: flex;
  align-items: center;
  gap: 0.75em;
  background: none;
  background-color: transparent;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  padding: 0.25em 1em;
  font-size: 1em;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  background-color: var(--foreground);
  color: var(--background);
  &:hover {
  }

  .emailIcon {
    font-size: 1.2em;
    width: 1em;
  }
}

.navbar {
  height: 5em;
  background-color: var(--foreground);
  width: 100%;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headerTitle {
  font-family: var(--font-secondary);
  font-size: 3em;
  letter-spacing: 0.025em;
}

.logoText {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: regular;
  font-size: 1.5em;
  margin-right: auto;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
}

.activeFilter {
  background-color: #fff;
  color: #222;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  min-height: 100svh;
  padding: 2em 0;
  width: 100%;
}

.header {
  width: 100%;
}

.mobileTitle {
  display: none;

  @media (max-width: 768px) {
    margin-top: auto;
    display: block;
    font-family: var(--font-primary);
    // text-transform: uppercase;
    font-weight: bold;
    color: #b7b7b7;
    margin: 0 auto;
    font-size: 0.9em;
    margin-bottom: 1em;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  align-items: flex-end;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .socials {
    }
  }
}

.description {
  text-align: center;
  width: 100%;
  max-width: 20em;
  opacity: 0.9;
  line-height: 1.5em;
  color: var(--foreground);
  font-family: monospace;
  text-transform: uppercase;
  margin: 0 auto;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2em;
  width: 100%;
  text-transform: uppercase;
}

.footer,
.headerContent {
  padding: 0 2em;
}

.overlayImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  pointer-events: none;
  z-index: -2;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.socials {
  margin-left: auto;
}

.artistsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
}

.artistsList {
  color: var(--foreground);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.glowOnHover {
  width: fit-content;
  padding: 0 2em;
  height: 3em;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: var(--font-secondary);
  font-size: 1em;

  display: flex;
  align-items: center;
  gap: 1em;

  span {
    font-size: 1.5em;
    pointer-events: none;
  }

  .emailIcon {
    height: 1.25em;
  }
}

.glowOnHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.glowOnHover:active {
  color: #000;
}

.glowOnHover:active:after {
  background: transparent;
}

.glowOnHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
