.threejsCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  z-index: -1;
}

.emailButton {
  display: flex;
  align-items: center;
  gap: 0.75em;
  background: none;
  background-color: transparent;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  padding: 0.75em 1.5em;
  font-size: 1em;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--foreground);
    color: var(--background);
  }

  .emailIcon {
    font-size: 1.2em;
  }
}

.navbar {
  height: 5em;
  background-color: var(--foreground);
  width: 100%;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headerTitle {
  font-family: var(--font-secondary);
  font-size: 3em;
  letter-spacing: 0.025em;
}

.logoText {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: regular;
  font-size: 1.5em;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
}

.activeFilter {
  background-color: #fff;
  color: #222;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  min-height: 100svh;
  padding: 2em 0;
  width: 100%;
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.description {
  text-align: center;
  width: 100%;
  max-width: 22em;
  opacity: 0.9;
  color: var(--foreground);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2em;
  width: 100%;
  text-transform: uppercase;
}

.footer,
.headerContent {
  padding: 0 2em;
}

.overlayImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  pointer-events: none;
  z-index: -2;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.artistsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
}

.artistsList {
  color: var(--foreground);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
