.container {
  padding: 2em 1em;
  width: 100%;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);

  min-height: 100svh;

  .marquee {
    display: flex;
    gap: 5em;

    img {
      height: 100%;
      max-height: 12em;
      padding: 0 4em;

      user-select: none;
      pointer-events: none;
    }

    @media (max-width: 900px) {
      gap: 1em;

      img {
        max-width: 4em;
      }
    }
  }
}

.artists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  width: 100%;
  max-width: 70em;

  span {
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--theme-color-1);
    line-height: 0.75em;
  }

  @media (max-width: 600px) {
    font-size: 2.5vw;
  }
}
