.container {
  padding: 1em;
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);

  min-height: 100svh;

  .labels {
    display: flex;
    gap: 4em;

    img {
      width: 100%;
      max-width: 8em;
      user-select: none;
      pointer-events: none;
    }

    @media (max-width: 900px) {
      gap: 1em;

      img {
        max-width: 3.5em;
      }
    }
  }
}

.artists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  width: 100%;
  max-width: 70em;

  span {
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--background);
    opacity: 0.75;
  }
}
