.container {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-1);
  width: 100%;
}

.icon {
  pointer-events: none;
  font-size: 1.5em;
  display: block;
}
